<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Guitar Brand Classifier</title>
</head>
<body>
    <div class="container mt-4">
        <h2 class="text-center">ギターブランドチェッカー</h2>
        <div class="mt-4 text-center">
          <form method="post" action="/classify" enctype="multipart/form-data">
            <label for="img_file" class="button" id='select-img'>
              画像を選択
              <input type="file" id="img_file" name="img_file" class="col-sm-4">
            </label>
            <br>
            <input type="submit" value="チェック" class="button" id="check">
          </form>
          <br>
          {% if pred_brand %}
              {{ pred_brand }}
          {% endif %}
          {% if warning %}
              {{ warning }}
          {% endif %}
        </div>
      </div>
</body>
</html>